.plans {
  display: flex;

  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
}

.plans-header {
  display: flex;
  margin-bottom: 2rem;
  font-weight: bold;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
  gap: 5rem;
  font-style: italic;
}

.plans {
  display: flex;
  gap: 3rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.plan-category {
  display: flex;
  flex-direction: column;
  background: var(--caloryCard);
  color: white;
  gap: 2rem;
  padding: 1.5rem;
  width: 15rem;
}

.plan-category > svg {
  fill: var(--orange);
  width: 2rem;
  height: 2rem;
}
.plan-category:nth-child(2) {
  scale: 1.1;
  background: var(--planCard);
}

.plan-category > :nth-child(2) {
  font-weight: bold;
  font-size: 1rem;
}

.plan-category > :nth-child(3) {
  font-weight: bold;
  font-size: 3rem;
}
.plan-category > :nth-child(5) {
  font-size: 0.8rem;
}
.plan-features {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feature > img {
  width: 1rem;
}

.plans > :nth-child(2) > svg {
  fill: white;
}

.plans > :nth-child(2) > button {
  color: orange;
}

.btn {
  height: 2.5rem;
  border: 1px solid transparent;
  font-weight: bold;
}

.blur-plan-1 {
  width: 32rem;
  height: 23rem;
  margin-top: 5rem;
  margin-left: 2rem;
}

.blur-plan-2 {
  width: 32rem;
  height: 23rem;
  right: 0;
  margin-top: 8rem;
}

@media screen and (max-width: 768px) {
  .plans {
    flex-direction: column;
  }
  .plans-header {
    flex-direction: column;
    gap: 1rem;
    font-size: x-large;
    align-items: center;
    justify-content: center;
  }
  .plans > :nth-child(2) {
    transform: none;
  }
}
